/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************/

body {
  background-image: url(back.jpg);
  font-family: 'Roboto', sans-serif;
}


#headerwrapper {
  margin: 0 auto;
  text-align: center;
  padding: 2.25em;
  background-color: rgb(5, 23, 26);
  color: rgb(0,148,229);
}

h1 {
  font-size: 3.375em;
  font-family: sans-serif;
  font-family: 'Playball', cursive;
}

h2 {
  font-family: 'Playball', cursive;
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  margin: .667em;
  color: rgb(212,202,164);
}

img {
  width: 100%;
  border-radius: 1.5em;
  border: 5px solid rgb(30,30,30);
  box-sizing: content-box;
}

p {
  margin-bottom: 5.063em;
  font-size: 1.3em;
  line-height: 1.5e;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(212,202,164,.7);;
  padding: 1em;
}

.boxshadow p {
  box-shadow: 10px 10px rgba(0, 0, 0, .3);
}

p:first-letter {
  font-size: 2em;
}


#pagewrapper {
  padding: 1em;
  max-width: 40em;
  margin: 0 auto;
}